*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fcf6ff;
    overflow: hidden;
}

h1{
    font-family:serif;
    color: #000000;
    font-size: clamp(6rem, 10vw, 10rem);
    z-index: 1;
    background-color: transparent;
}
p{
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-size: clamp(1rem, 2vw, 1.5rem);
    z-index: 1;
    background-color: transparent;
}
/* navbar */

.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 60px;

  backdrop-filter: blur(10px);
  background:rgba(255,255,255,0.6);

  border-bottom:1px solid rgba(0,0,0,0.05);
  z-index:2;
}
.logo{
  font-size:22px;
  font-weight:700;
}
.nav-links{
  display:flex;
  gap:40px;
  list-style:none;
}

.nav-links a{
  text-decoration:none;
  color:#333;
  font-weight:500;
}

.cta{
  background:rgb(159, 59, 59);
  color:white;
  border:1px solid rgba(219, 188, 53, 0.62);
  padding:10px 22px;
  border-radius:25px;
  cursor:pointer;
  margin-right: 100px;
}
.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.box1 img,
.box5 img{
    filter: drop-shadow(2px 15px 23px rgba(156, 155, 155, 0.853));
}

.box2 img,
.box4 img{
    filter: drop-shadow(-5px 15px 23px rgba(156, 155, 155, 0.853));
}
.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.curtain{
    width: 100vw;
    height: 100vh;

    position: absolute;
    background-color: #e6de84;
    z-index: 2;
}
.box1{

    position: absolute;
    top: 60%;
    right: 2%;

}

.box2{
    position: absolute;
    top: 19%;
    left: 18%;
}

.box3{
    width: 100px;
    height: 100px;
    background-color: #ff1493;
    margin: 20px;
    position: absolute;
    bottom: 10%;
    left: 32%;
    

}
.box4{
   background-color: #69aaff00;
    margin: 20px;
    position: absolute;
    bottom: 23%;
    left:2%;
    block-size: calc(20vh - 8vh);
}
.box5{
    background-color: #1382f100; 
    position: absolute;
    top: 22%;
    right: 15%;
   block-size: calc(20vh - 8vh);
}

